/* MainLayouts.css */
.sidebar-wrapper {
  min-height: 100vh;
  width: 250px;
}

.sidebar-wrapper.collapsed {
  width: 80px;
}

.main-content {
  display: flex;
  flex-direction: column;
}


.main-content.expanded {
  width: calc(100% - 70px);
}

@media (max-width: 768px) {
  .sidebar-wrapper {
    position: absolute;
    z-index: 1050;
    height: 100vh;
  }
  .main-content {
    width: 100% !important;
  }
}
